
.list{

    width: 50vw;
    padding: 30px;
    border-radius: 10px;
}
.tabla {

    width: 100%;
    border-radius: 10px;
    background-color: #dbd4d4;
  }
  
  .tabla th,
  .tabla td {
    border: 1px solid rgb(255, 190, 70);
    padding: 8px;
    text-align: left;
    font-size: 20px;
  }
  
  .tabla th {
    background-color: #f2f2f2;
    color: #333;
  }
  .ninguna{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    /* width: 100; */
  }